
body{background-color: brown;}
        h1{color: rgb(red, green, blue);}
        header{color: aqua;background-color: beige;}
        footer{color: blueviolet;}
        section{color: black;}
        p{color: blanchedalmond;}